.form-cuerpo {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 60px 50px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-control {
    width: -webkit-fill-available;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 20px;
}

.form-btn {
    width: -webkit-fill-available;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.submit {
    background-color: #007bff;
    margin-bottom: 10px;
    }
.submit:hover {
    background-color: #0056b3;
    }

.reset {
color: black;
}
.reset:hover {
    background-color: #bebebe;
}

.google-btn {
    color: #fff;
    background-color: #db4437;
}
.google-btn:hover {
    background-color: #c1351d;
}

.form-cuerpo {
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Ajusta los valores según tus necesidades */
}

.form-cuerpo::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), transparent);
}